<footer class="footer">
  <div class="newsletter">
    <h3>NEWSLETTER</h3>
    <p>Let's stay in touch.</p>
    <form>
      <input type="email" placeholder="Your email" required />
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <div class="social-icons">
    <a href="https://facebook.com" class="social-icon"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com" class="social-icon"><i class="fa fa-twitter"></i></a>
    <a href="https://instagram.com" class="social-icon"><i class="fa fa-instagram"></i></a>
    <a href="https://linkedin.com" class="social-icon"><i class="fa fa-linkedin"></i></a>
  </div>

  <div class="footer-bottom">
    <p>© 2024 Girls Education Foundation - All rights reserved.</p>
  </div>
</footer>
