<nav class="navbar">
  <div class="navbar-logo">
    <a href="/" class="logo">
      <img src="/assets/logo.png" alt="Girls Education Foundation Logo">
    </a>
  </div>
  
  <ul class="navbar-links">
    <li><a href="/" id="home-link">Home</a></li>
    <li><a href="/about-us" id="about-link">About Us</a></li>
    <li><a href="/programs" id="programs-link">Programs</a></li>
    <li><a href="/get-involved" id="get-involved-link">Get Involved</a></li>
    <li><a href="/contact-us" id="contact-link">Contact</a></li>
  </ul>

  <div class="navbar-right">
    <input type="text" placeholder="Search..." class="search-bar">
    <i class="fa fa-search search-icon"></i>
    <img src="/assets/images/nigerian_flag.jpg" alt="Nigerian Flag" class="flag-icon">
    <a href="/donate" class="donate-btn">Donate Now</a>
  </div>
</nav>
